<script setup lang="ts">
import FancyButton from "@/components/FancyButton.vue";
import { mdiHeartOutline } from "@mdi/js";
import { mdiCursorDefaultOutline } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col
        ><FancyButton
          ><v-icon :icon="mdiHeartOutline" />Love Me
          <template v-slot:tail> Tail </template>
        </FancyButton>
      </v-col>
      <v-col
        ><FancyButton
          >Click Me
          <template #tail>
            <v-icon :icon="mdiCursorDefaultOutline" />
          </template> </FancyButton
      ></v-col>
    </v-row>
  </v-container>
</template>
