<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="6" md="4">
        <!-- Avatar component -->
        <v-avatar size="120" color="primary">
          <!-- Image element -->
          <v-img src="IMG_20211117_210057_035.jpg" alt="Avatar" />
        </v-avatar>
      </v-col>
      <v-col cols="12" sm="6" md="8">
        <!-- User name -->
        <h3>กัณธพง ธนัตสุขสกุล</h3>
        <!-- Educational record -->
        <p>ศึกษาอยู่ที่ มหาวิทยาลัยบูรพา บางแสน</p>
        <!-- Interests -->
        <p>contact: 64160039@go.buu.ac.th</p>
        <p>phone: 0923569452</p>
      </v-col>
    </v-row>
  </v-container>
  <v-card>
    <v-tabs v-model="tab" bg-color="primary">
      <v-tab value="one">ประวัติ</v-tab>
      <v-tab value="two">สิ่งที่สนใจ</v-tab>
      <v-tab value="three">ประวัติการศึกษา</v-tab>
    </v-tabs>

    <v-card-text>
      <v-window v-model="tab">
        <v-window-item value="one"> ชื่อ: กัณธพง ธนัตสุขสกุล</v-window-item>
        <v-window-item value="one"> ชื่อเล่น: พีท อายุ: 19 ปี</v-window-item>
        <v-window-item value="one"> เกิด วันที่ 17 มกราคม 2546 </v-window-item>
        <v-window-item value="one"> กรุ๊ปเลือด: B </v-window-item>
        <v-window-item value="one"> ศาสนา: พุทธ </v-window-item>
        <v-window-item value="one"> เชื้อชาติ: ไทย สัญชาติ: ไทย </v-window-item>

        <v-window-item value="two"> อาชีพที่สนใจ </v-window-item>
        <v-window-item value="two"> Data Engineer </v-window-item>
        <v-window-item value="two"> Software Engineer </v-window-item>
        <v-window-item value="two"> Computer Scientist </v-window-item>
        <v-window-item value="two"> Mobile App Developer </v-window-item>
        <v-window-item value="two"> Game Designer Developer </v-window-item>
        <v-window-item value="two"
          >------------------------------
        </v-window-item>
        <v-window-item value="two"> งานอดิเรกที่ชอบ </v-window-item>
        <v-window-item value="two"> =>เดินทางท่องเที่ยว </v-window-item>
        <v-window-item value="two"> =>หาของอร่อยกิน </v-window-item>
        <v-window-item value="two"> =>ปาร์ตี้สังสรรค์ </v-window-item>

        <v-window-item value="three">
          มัธยมต้น=>โรงเรียนศรีหฤทัย
        </v-window-item>
        <v-window-item value="three">
          มัธยมปลาย=>โรงขลุงรัชดาภิเษก
        </v-window-item>
        <v-window-item value="three">
          ปัจจุบัน=>มหาวิทยาลัยบูรพา วิทยาเขต บางแสน
        </v-window-item>
      </v-window>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
export default {
  // data and methods go here
  data: () => ({
    tab: null,
  }),
};
</script>
